# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kgu-dcs-lab\healthApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
